---

---

<section
  class="w-screen h-screen flex flex-col items-center justify-center uppercase max-w-screen-xl mx-auto"
>
  <h1 class="text-3xl md:text-5xl lg:text-7xl xl:text-9xl 2xl:text-11xl">
    HERE TO MAKE IT
  </h1>
  <h1 class="text-6xl md:text-8xl lg:text-10xl xl:text-13xl 2xl:text-16xl">
    ELEGANT
  </h1>
</section>
