<head>
  <script is:inline type="module" src="/src/components/zoominAnimation.js"></script>
</head>

<section
  class="w-screen h-screen flex flex-col items-center justify-center uppercase max-w-screen-xl mx-auto"
  id="hero"
>
  <h1 class="text-3xl md:text-5xl lg:text-7xl xl:text-9xl 2xl:text-11xl">
    HERE TO MAKE IT
  </h1>
  <h2 class="text-6xl md:text-8xl lg:text-10xl xl:text-13xl 2xl:text-16xl mt-4">
    BEAUTIFUL
  </h2>
</section>