---

---

<section
  class="w-screen h-screen flex flex-col items-center justify-center uppercase"
>
  <h1 class="text-3xl md:text-5xl lg:text-7xl">HERE TO MAKE IT</h1>
  <h1 class="text-6xl md:text-8xl lg:text-10xl">ELEGANT</h1>
</section>
